Repository newkub/ai-wrikka-com: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    build:
      run: bun run build
    lint:
      glob: "*.{js,ts,vue}"
      run: bunx biome lint --write {staged_files}
    format:
      glob: "*.{js,ts,vue,json,md,yaml,yml}"
      run: bunx biome format --write {staged_files}

pre-push:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,vue}"
      run: bunx biome lint {staged_files} && bunx vue-tsc --noEmit

refactor(chat): restructure layout to place chat input below chat content
  components/chat/ChatContent.vue
  components/chat/ChatInput.vue
Due: lint, format

refactor: restructure chat and task management
  app.vue
  bun.lock
  components/Whiteboard.vue
  components/chat/ChatContextMenu.vue
  components/chat/ChatHistory.vue
  components/common/FileUpload.vue
  components/task/Sidebar.vue
  components/task/TaskCard.vue
  components/task/TaskForm.vue
  components/task/views/KanBan.vue
  components/task/views/Table.vue
  composables/useChat.ts
  composables/useTable.ts
  composables/useTaskBoard.ts
  composables/useTaskFilters.ts
  nuxt.config.ts
  package.json
  pages/chat.vue
  pages/chat/[id].vue
  pages/chat/index.vue
  pages/task.vue
  pages/whiteboard.vue
  server/api/chat.post.ts
  stores/chat.ts
  stores/task.ts
  types/chat.ts
  types/task.ts
Due: lint, format

fix: resolve TypeScript errors and improve type safety
  components/task/TaskForm.vue
  components/task/views/Table.vue
  composables/useTable.ts
Due: lint, format

feat(video): add video editor component and page
  components/Nav.vue
  components/task/TaskCard.vue
  components/task/TaskForm.vue
  components/task/views/KanBan.vue
  components/task/views/Table.vue
  components/video-editor/AssetsPanel.vue
  components/video-editor/Timeline.vue
  components/video-editor/VideoPlayer.vue
  components/whiteboard/WhiteboardCanvas.vue
  components/whiteboard/WhiteboardToolbar.vue
  composables/useCanvas.ts
  composables/useWhiteboardState.ts
  pages/chat/[id].vue
  pages/image.vue
  pages/video.vue
  pages/whiteboard.vue
  stores/media.ts
  stores/whiteboard.ts
  types/whiteboard.ts
Due: lint, format

chore(config): update uno.config and biome.jsonc
  biome.jsonc
  uno.config.ts
Due: lint, format

feat(chat): update chat types for new features
  types/chat.ts
Due: lint, format

chore: update config files
  lefthook.yml
  nuxt.config.ts
Due: lint, format

chore: update dependencies
  bun.lock
  package.json
Due: format

chore: update lint config
  biome.jsonc
Due: none

chore: update lefthook configuration
  lefthook.yml
Due: format

chore: update lockfile and lefthook configuration
  bun.lock
  lefthook.yml
Due: format

ci: update NuxtHub deployment workflow
  .github/workflows/nuxthub.yml
Due: format

feat: add new UI components package
  .gitmodules
Due: none

chore: update dependencies and config files
  .gitignore
  .gitmodules
  bun.lock
  nuxt.config.ts
  package.json
  uno.config.ts
Due: lint, format

refactor: remove unused components and files
  TODO.md
  components/Nav.vue
  components/code/ContextMenu.vue
  components/code/bottom/Console.vue
  components/code/bottom/Dependencies.vue
  components/code/bottom/Git.vue
  components/code/bottom/Problems.vue
  components/code/bottom/Search.vue
  components/code/bottom/Tasks.vue
  components/code/bottom/Terminal.vue
  components/code/bottom/index.vue
  components/code/types.ts
  components/video-editor/AssetsPanel.vue
  components/video-editor/Timeline.vue
  components/video-editor/VideoPlayer.vue
  design.excalidraw
  notes.md
  pages/blog.vue
  pages/video.vue
Due: lint, format

feat: update core components and pages
  app.vue
  components/CardBookmark.vue
  components/code/FileStructure.vue
  composables/useFileSystem.ts
  layouts/default.vue
  layouts/docs.vue
  layouts/fullscreen.vue
  pages/bookmark.vue
  pages/chat/index.vue
  pages/code.vue
  pages/docs.vue
  pages/image.vue
  pages/index.vue
  pages/notes.vue
Due: lint, format

feat: add Browser component
  components/code/Browser.vue
Due: lint, format

chore: update nuxt and uno configuration
  nuxt.config.ts
  uno.config.ts
Due: lint, format

refactor: remove unused web editor components and cleanup
  app.vue
  composables/useEditor.ts
  pages/web-editor.vue
Due: lint, format

chore: disable lint job in pre-push hook
  lefthook.yml
Due: format

chore: add pinia-plugin-persistedstate for state persistence
  bun.lock
  package.json
Due: format

refactor(TextEditor): improve TypeScript types and state management
  components/common/TextEditor.vue
Due: lint, format

refactor(stores): remove persist options and migrate to pinia-plugin-persistedstate
  stores/chat.ts
  stores/whiteboard.ts
Due: lint, format

chore(config): update nuxt and lefthook configuration
  lefthook.yml
  nuxt.config.ts
Due: lint, format

chore: update package.json scripts and dependencies
  composables/useEditor.ts
  package.json
Due: lint, format

chore: remove unused dependencies and update lock file
  bun.lock
  package.json
Due: format

ci: switch workflow from pnpm to bun
  .github/workflows/nuxthub.yml
Due: format

ci: remove NuxtHub deploy workflow
  .github/workflows/nuxthub.yml
Due: format

feat(editor): improve text editor components and composables
  components/common/TextEditor.vue
  composables/useEditor.ts
  pages/index.vue
Due: lint, format

refactor(stores): update chat and whiteboard state management
  stores/chat.ts
  stores/whiteboard.ts
Due: lint, format

feat(pages): add new api, blog and policy pages
  pages/api.vue
  pages/blog.vue
  pages/policy.vue
Due: lint, format

feat(code): update code editor components
  components/code/Browser.vue
  components/code/left/Dependencies.vue
  components/code/left/Git.vue
  components/code/left/Problems.vue
  components/code/left/Search.vue
  components/code/left/Tasks.vue
  components/code/left/Terminal.vue
  components/code/left/index.vue
  pages/api.vue
  pages/bookmark.vue
  pages/code.vue
  pages/docs.vue
  pages/settings.vue
  pages/task.vue
Due: lint, format

chore: cleanup removed files and add new composable
  .gitmodules
  composables/useSidebar.ts
  pages/apis.vue
Due: lint, format
